@model project.ViewModels.HomeModel
@{
    Layout = "_layout";
}

<!-- Breadcrumb End -->
<div class="breadcrumb-option set-bg" data-setbg="../assets/img/counter-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>About Us</h2>
                    <div class="breadcrumb__links">
                        <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                        <span>About Us</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Begin -->
<!-- About Us Section Begin -->
<section class="about spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title about-title">
                    <h2>Wellcome To Auto Car Online <br />We Provide Everything You Need To A Car</h2>
                </div>
            </div>
        </div>
        <div class="about__feature">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about__feature__item">
                        <img src="/assets/img/about/af-1.png" alt="">
                        <h5>Quality Assurance System</h5>
                        <p>
                            It seems though that some of the biggest problems with the internet advertising trends
                            are the lack of
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about__feature__item">
                        <img src="/assets/img/about/af-2.png" alt="">
                        <h5>Accurate Testing Processes</h5>
                        <p>
                            Where do you register your complaints? How can you protest in any form against companies
                            whose
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about__feature__item">
                        <img src="/assets/img/about/af-3.png" alt="">
                        <h5>Infrastructure Integration Technology</h5>
                        <p>
                            So in final analysis: it’s true, I hate peeping Toms, but if I had to choose, I’d take
                            one any day over an
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="about__pic">
                    <img src="/assets/img/about/about-pic.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="about__item">
                    <h5>Our Mission</h5>
                    <p>
                        Now, I’m not like Robin, that weirdo from my cultural anthropology class; I think that
                        advertising is something that has its place in our society; which for better or worse is
                        structured along a marketplace economy. But, simply because I feel advertising has a right
                        to exist, doesn’t mean that I like or agree with it, in its
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="about__item">
                    <h5>Our Vision</h5>
                    <p>
                        Where do you register your complaints? How can you protest in any form against companies
                        whose advertising techniques you don’t agree with? You don’t. And on another point of
                        difference between traditional products and their advertising and those of the internet
                        nature, simply ignoring internet advertising is
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Us Section End -->
<!-- Call Section Begin -->
<section class="call spad set-bg" data-setbg="/assets/img/about/call-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6">
                <div class="call__text">
                    <div class="section-title">
                        <h2>Provide Us With Your Opinion</h2>
                        <p>We are interested in our customers' opinions and would like to know if our services are useful and how we can improve them</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 offset-lg-1 col-md-6">
                <form asp-action="CallBack" class="call__form">
                    <div class="row">
                        <div class="col-lg-6">
                            <input type="text" placeholder="Name (optional)" asp-for="CallBack.CallBackName" >
                        </div>
                        <div class="col-lg-6">
                            <input type="email" placeholder=" Email" required asp-for="CallBack.CallBackEmail">
                        </div>
  
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <input type="number" placeholder=" phone (optional)" asp-for="CallBack.CallBackPhone">
                        </div>
                        <div class="col-lg-6">
                            <select  asp-for="CallBack.CallBackChooseService">
                                <option  value="1" >Choose Our Services</option>
                                <option value="Buy Cars">Buy Cars</option>
                                <option value="Rent Cars">Rent Cars</option>
                            </select>

                        </div>
                    </div>
                    <form asp-action="CallBack">
                        <textarea style="width: 100%;"placeholder="Type Your Comment" required asp-for="CallBack.CallBackComment"></textarea>
                        <button type="submit" class="site-btn">Submit Now</button>
                    </form>
                    
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Call Section End -->
<!-- Team Section Begin -->
<section class="team spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title team-title">
                    <span>Our Team</span>
                    <h2>Meet Our Expert</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="team__item">
                    <div class="team__item__pic">
                        <img src="img/about/team-1.jpg" alt="">
                    </div>
                    <div class="team__item__text">
                        <h5>John Smith</h5>
                        <span>Marketing</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="team__item">
                    <div class="team__item__pic">
                        <img src="img/about/team-2.jpg" alt="">
                    </div>
                    <div class="team__item__text">
                        <h5>Christine Wise</h5>
                        <span>C.E.O</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="team__item">
                    <div class="team__item__pic">
                        <img src="img/about/team-3.jpg" alt="">
                    </div>
                    <div class="team__item__text">
                        <h5>Sean Robbins</h5>
                        <span>Manager</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="team__item">
                    <div class="team__item__pic">
                        <img src="img/about/team-4.jpg" alt="">
                    </div>
                    <div class="team__item__text">
                        <h5>Lucy Myers</h5>
                        <span>Delivary</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team Section End -->
<!-- Counter Begin -->
<div class="counter spad set-bg" data-setbg="/assets/img/counter-bg.jpg">
    <div class="container">/assets/
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter__item">
                    <h2 class="counter-num">1922</h2>
                    <p>Vehicles Stock</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter__item">
                    <h2 class="counter-num">1500</h2>
                    <strong>+</strong>
                    <p>Vehicles Sale</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter__item">
                    <h2 class="counter-num">1922</h2>
                    <p>Dealer Reviews</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter__item">
                    <h2 class="counter-num">5100</h2>
                    <p>Happy Clients</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Counter End -->


<!-- Testimonial Section Begin -->
<section class="testimonial spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title testimonial-title">
                    <span>Testimonials</span>
                    <h2>What People Say About Us</h2>
                    <p>Our customers are our biggest supporters. What do they think of us?</p>
                </div>
            </div>
        </div>
        <div class="row">
          
                <div class="testimonial__slider owl-carousel">
                     @foreach (var item in Model.lstCallBack)
            {
                    <div class="col-lg-6">
                       
                                <div class="testimonial__item">
                            <div class="testimonial__item__author">
                                <div class="testimonial__item__author__text">
                                    <h5>@item.CallBackName</h5>
                                </div>
                            </div>
                            <p>
                               @item.CallBackComment
                            </p>
                        </div>
                        
                    </div>
                }
                </div>
        </div>
    </div>
</section>
<!-- Testimonial Section End -->