@model project.ViewModels.LastnewsupdateModel

@{
    ViewData["Title"] = "Create";
}
<div class="pagetitle">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Lastnewsupdate">Last news update</a></li>
            <li class="breadcrumb-item active">Create</li>
        </ol>
    </nav>
</div>
<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <form asp-action="Create" enctype="multipart/form-data">
                        <div class="row mb-3 d-flex justify-content-center">
                            <div class="col-sm-12 text-center">
                                <label asp-for="UploadImage" class="col-sm-12 text-center col-form-label">
                                    <img asp-for="UploadImage" id="MasterItemMenuImg" src="~/Admin/assets/img/not-found.svg" class="img img-fluid border border-2 border-dark rounded-3 p-5" width="300" />
                                </label>
                                <input asp-for="UploadImage" hidden onchange="loadFile(event,'#MasterItemMenuImg')" class="form-control" />
                            </div>

                        </div>
                        <div class="row mb-3">
                            <label asp-for="UploadImage" class="col-sm-12 text-center col-form-label"></label>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6">
                                <div class="row mb-3">
                                    <label asp-for="LastnewsupdateId" class="col-sm-4 col-form-label"></label>
                                    <div class="col-sm-8">
                                        <input asp-for="LastnewsupdateId" readonly class="form-control" />
                                            <span asp-validation-for="LastnewsupdateId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row mb-3">
                                    <label asp-for="LastnewsupdateName" class="col-sm-4 col-form-label"></label>
                                    <div class="col-sm-8">
                                            <input asp-for="LastnewsupdateName" class="form-control" />
                                            <span asp-validation-for="LastnewsupdateName" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6">
                                <div class="row mb-3">
                                    <label asp-for="LastnewsupdateTitle" class="col-sm-4 col-form-label"></label>
                                    <div class="col-sm-8">
                                            <input asp-for="LastnewsupdateTitle" class="form-control" />
                                            <span asp-validation-for="LastnewsupdateTitle" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row mb-3">
                                        <label asp-for="LastnewsupdateDesc" class="col-sm-4 col-form-label"></label>
                                    <div class="col-sm-8">
                                            <input asp-for="LastnewsupdateDesc" class="form-control" />
                                            <span asp-validation-for="LastnewsupdateDesc" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6">
                                    <div class="row mb-3">
                                        <label asp-for="LastnewsupdateDate" class="col-sm-4 col-form-label"></label>
                                        <div class="col-sm-8">
                                            <input type="date" asp-for="LastnewsupdateDate" class="form-control" />
                                            <span asp-validation-for="LastnewsupdateDate" class="text-danger"></span>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-12 d-inline-flex justify-content-end">
                                <a asp-action="Index" class="btn btn-success btn-backtolist">Back to List</a>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<div>
    <a asp-action="Index">Back to List</a>
</div>